<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispMsgtomanagerAdminLogList" type="view" admin_index="true" />
		<action name="dispMsgtomanagerAdminConfig" type="view"/>
		<action name="dispMsgtomanagerAdminLogView" type="view" />

		<action name="procMsgtomanagerAdminInsertConfig" type="controller" />
		<action name="procMsgtomanagerAdminInsertComment" type="controller" />

		<action name="dispMsgtomanagerSendmessage" type="view" standalone="true"  />

		<action name="procMsgtomanagerSendMessage" type="controller" standalone="true" />
	</actions>
</module>
