<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispAdminMsgtomanagerConfig" type="view" />
		<action name="dispAdminMsgtomanagerLog" type="view" />

		<action name="dispMsgtomanagerSendmessage" type="view" standalone="true"  />
	</actions>
</module>
